.Card {
    transition: all 0.2s ease;
    width: 150px;
    height: 150px;
    /* z-index: 20; */
    background: #fff;
    cursor: pointer;
    display: grid;
    grid-template-rows: 3fr 1fr;
    animation: animate 2s;
}

@keyframes animate {
    from {
        opacity: 0;
        transform: translateX(-100vw);
    }

    to {
        opacity: 1;
        transform: translateX(0);

    }
}

.CardImage {
    width: 75%;
    height: 40%;
    margin: auto;
}

.CardImage img {
    width: 60%;
}

.BasicDetails {
    line-height: 0.4;
    text-align: left;

}

.BasicDetails p {
    margin-left: 0.5em;
    font-size: 0.8rem;
    /* width: 80%; */
    /* margin: auto; */
}

.BasicDetails p:first-child {
    color: grey;
    /* width: 80%; */
    /* margin: auto; */
}

/* Hover Card Styles */
/* display: grid;
    grid-template-rows: 2fr auto; */
.HoveredCard {
    transition: all 0.2s ease;
    width: 220px;
    background: #fff;
    cursor: pointer;
    display: block;
    position: static;
    height: fit-content;

}

.HoveredCardImage {
    width: 50%;
    height: 40%;
    margin: auto;
    padding-bottom: 0.5rem;

}

.HoveredCardImage img {
    margin-top: 1rem;
    width: 100%;


}

.HoveredBasicDetails {
    line-height: 0.6;
    text-align: left;
    color: black;
    margin-left: 1em;
}

.Discount {
    text-decoration: line-through;
}

.Price {
    font-weight: bold;
}

.Owner {
    color: green;
    font-weight: bold;
}

.SeeMore {
    background: #333;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 55px;
    justify-items: center;
    align-items: center
}

/* New styles for masnory*/


.Tall {
    grid-row: span 2;
}

.Wide {
    grid-column: span 2;
}

.NormalItem {
    background: #fff;
    height: 100%;
    display: grid;
    grid-template-rows: 2fr 1.5fr;
    /* height: auto; */
    /* height: 150px; */
    justify-items: center;
    align-items: center;
    text-align: center;
    animation: animate 2s;
}

.NormalItem img {
    width: 50%;
    margin-top: 0;
    margin-top: 10px;

}

.NormalItemDetails {
    width: 90%;
    line-height: 0.1;
    text-align: left;
    padding-left: 1rem;
}

.NormalItemDetails p:first-child {
    color: grey;
    padding-bottom: 5px;

}

.TallItem {
    background: #fff;

    height: 100%;

    display: grid;
    grid-template-rows: 2fr 1.5fr;
    /* height: auto; */
    justify-items: center;
    align-items: center;
    text-align: center;
    animation: animate 2s;
}

.TallItem img {
    width: 70%;
    height: 90%;
    margin-top: 10px;
}

.TallItemDetails {
    width: 90%;
    line-height: 0.1;
    text-align: left;
    padding-left: 1rem;

}

.TallItemDetails p:first-child {
    color: grey;
    padding-bottom: 5px;

}

.WideItem {
    background: #fff;

    height: 100%;
    display: grid;
    grid-template-rows: 2fr 1.5fr;
    /* height: auto; */
    justify-items: center;
    align-items: center;
    text-align: center;
    animation: animate 2s;
}

.WideItem img {
    width: 25%;
    margin-top: 10px;
    margin-top: 10px;

}

.WideItemDetails {
    width: 90%;
    line-height: 0.1;
    /* text-align: left; */
    justify-content: flex-start;
    text-align: left;
    padding-left: 1rem;
    margin-bottom: 1rem;

}

.WideItemDetails p:first-child {
    color: grey;
    padding-bottom: 5px;
}